html {
    height: 100%;
    font-size: 16px;
}

h2 {
    font-size: 3rem;
    color: white;
    font-weight: 600;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
}

/* Navigation */

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #8A8D90;
    border-bottom: 1px solid black;
}

#LOGO_CONTAINER img {
    height: 100%;
}

nav {
    width: 65%;
    height: 100%;
    margin-right: 10px;
}

nav ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
}

nav ul li {
    font-size: 1.5rem;
}

nav a {
    color: white;
    text-decoration: underline;
    font-weight: 600;
}

nav a:hover {
    color: rgb(5, 94, 17);
    text-decoration: none;
}

/* Mobile and Tablet Navigation */

#HAMBURGER_MENU {
    display: none;
}

#HIDDEN_NAV {
    margin: 0 auto;
    width: 100%;
    height: 300px;
    background-color: #36454F;
    border: 1px solid black;
    display: none;
}

#HIDDEN_NAV_FLEXBOX {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#HIDDEN_NAV p {
    float: right;
    margin: 5px 5px;
    font-size: 1.5rem;
    background-color: #36454F;
    color: white;
    padding: 5px
}

#HIDDEN_NAV p:hover {
    color: black;
    background-color: #717171
}

#HIDDEN_NAV li {
    margin: 20px 0;
}
#HIDDEN_NAV a{
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    text-decoration: underline;
}

#HIDDEN_NAV a:hover {
    color: rgb(11, 158, 30);
    text-decoration: none;
}

/* Banner */

#BANNER {
    width: 100%;
    height: 85vh;
    background-image: url("../resources/copperfield.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#BANNER_CONTAINER {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.BOUNCE_TOP {
    animation:BOUNCE_TOP 1s cubic-bezier(.215,.61,.355,1.000) both;
}

@keyframes BOUNCE_TOP {
    0% {
        transform:translateY(-45px);
        animation-timing-function:ease-in;opacity:1
    } 
    24% {
        opacity:1
    }
    40% {
        transform:translateY(-24px);
        animation-timing-function:ease-in
    }
    65% {
        transform:translateY(-12px);
        animation-timing-function:ease-in
    }
    82% {
        transform:translateY(-6px);
        animation-timing-function:ease-in
    } 
    93% {
        transform:translateY(-4px);
        animation-timing-function:ease-in
    }
    25%,55%,75%,87% {
        transform:translateY(0);
        animation-timing-function:ease-out
    }
    100% {
        transform:translateY(0);
        animation-timing-function:ease-out;opacity:1
    }
}

/* About Us */

#ABOUT_US {
    width: 100%;
    height: 100%;
    background-color: #525D65;
}

#ABOUT_US h2 {
    padding-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

#ABOUT_US_IMAGE {
    width: 30vw;
    margin: 0 0 25px 25px;
}

#ABOUT_US img {
    width: 100%;
    border-radius: 50%
}

#ABOUT_US_ARTICLE {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    color: white;
    display: flex;
    justify-content: space-around;
}

#ABOUT_US a {
    color: rgb(50, 167, 245);
    text-decoration: underline;
}

#ABOUT_US a:hover {
    color: rgb(5, 94, 17);
    text-decoration: none;
}

#ABOUT_US_PARAGRAPH {
    width: 60%;
    margin: 0 20px;
    align-self: center;
}

/* Services */

#SERVICES {
    width: 100%;
    height: 100%;
    background-color: #E9E9E9;
    display: grid;
    grid-template: .5fr 1fr 3fr 1fr / 1fr 1fr 1fr 1fr;
    column-gap: .5rem;
    row-gap: 2rem;
}

#SERVICES h2 {
    color: black;
    grid-area: 1 / 2 / 1 / 4;
    text-align: center;
}

#RESIDENTIAL {
    grid-area: 2 / 1 / 5 / 1;
}

#COMMERCIAL {
    grid-area: 2 / 2 / 5 / 2;
}

#BATTING {
    grid-area: 2 / 3 / 5 / 3;
}

#POLY {
    grid-area: 2 / 4 / 5 / 4;
}

.SERVICE {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.SERVICE h3 {
    margin-bottom: 1rem;
}

.SERVICE img {
    width: 80%;
    height: 50vh;
}

.SERVICE p {
    margin: 2rem 0;
    padding: 0 3rem 3rem;;
    height: 100%;
    font-size: 1.125rem;
}

/* Gallery */

#GALLERY {
    width: 100%;
    height: 80vh;
    background-color: #6E757A;
    text-align: center;
}

.mySlides {
    display: none
}

.mySlides img {
    vertical-align: middle;
    height: 50vh;
    width: 100%;
  }

  .slideshow-container {
    width: 50%;
    position: relative;
    margin: auto;
  }

  /* Next & previous buttons */

  .prev,
  .next {
    cursor: pointer;
    padding: 16px;
    position: relative;
    top: 1.5rem;
    margin-top: 2rem;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Caption text */

  .text {
    color: #ffffff;
    font-size: 15px;
    padding: 8px 0;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.8);
  }

  /* Number text (1/3 etc) */

  .numbertext {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 1.75rem 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
    background-color: #111111;
  }

  /* Fading animation */

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }

  @keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }

/* Location */

#LOCATION {
    width: 100%;
    height: 100%;
    background-image: url("../resources/calgary.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
}

#OVERLAY {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}

#IFRAME_CENTER {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#LOCATION h2 {
    color: white;
    text-align: center;
}

#LOCATION h3 {
    font-size: 1.75rem;
    font-weight: 600;
    font-style: italic;
}

#LOCATION li {
    margin-top: 1rem;
    font-size: 1.5rem;
}

/* Contact Us */

#CONTACT_US {
    width: 100%;
    height: 100%;
    background-color: #525D65;
    text-align: center;
    color: white;
}

#CONTACT_US h2{
    margin: 0 0 2rem 0;
    padding-top: 2rem;
}

#CONTACT_US form {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#CONTACT_US label {
    margin-top: 1rem;
}

small {
    font-size: .75rem;
}

#SUBMIT {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

/* Footer */

footer {
    height: 100%;
    background-color:#C7C7C7;
    border-top: 1px solid black;
    
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem 2rem;
}

.FIRST {
    font-size: 1.5rem;
    font-weight: 600;
}

footer span {
    font-weight: 600;
}